<%- include ('partials/header')%>
<br>
<h1>This is the Landing Page</h1>

<h2>Hello , Everyone</h2>

<h3>Wat's Up</h3>
<a href="/campground">Click to see a Different Page</a>
<br>

<br>
<%- include ('partials/footer')%>