<%- include('partials/header') %> 
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to yelpCamp</h1>
        </div>
    <h1>Add A New Campground</h1>

    <form action="/campground" method="POST">
    <input type="text" name="name" placeholder="Enter camp name"/>
    <br>
    <input type="text" name="image" placeholder="Enter image URL"/>
    <br>
    <input type="text" name="desc" placeholder="Enter Camp Description"/>
    <br>
    <button >SUBMIT</button>
    <button >SUBMIT</button>
</form>

<a href="/campground">Go Back</a>


</div>

<%- include('partials/footer') %> 














