<%- include('partials/header') %> 
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Comment Page</h1>
        </div>
    <h1>Add A New Comment to <%= campground.name %> </h1>

    <form action="/campground/<%= campground._id %>/comment " method="POST">
    
    <br>
    <input type="text" name="comment[text]" placeholder="Enter your comment"/>
    <br>
    
    <br>
    <button class="btn btn-primary">SUBMIT</button>
    
</form>

<a href="/campground">Go Back</a>


</div>

<%- include('partials/footer') %> 














