<%- include('partials/header') %> 
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Camper's Arena </h1>
        </div>
    <h1>New User --Sign-Up Here</h1>

    <form action="/register" method="POST">
    <input type="text" name="username" placeholder="Enter your user name"/>
    <br>
    <input type="password" name="password" placeholder="Enter password"/>
    <br>
   
    <br>
    
    <button >SUBMIT</button>
</form>

<a href="/campground">Go Back</a>


</div>

<%- include('partials/footer') %> 














